<p1>hello yay</p1>

<form>
    <label for="cars">Choose a car:</label>
    <select name="field" id="cars">
        {% for field in fields %}
        <div>
            <option value="{{field}}">{{ field }}</option>
        </div>
        {% endfor %}
    </select>

    <select name="motivation" id="cars">
        {% for motivation in motivations %}
        <div>
            <option value="{{ motivation }}">{{ motivation }}</option>
        </div>
        {% endfor %}
    </select>
    <input type="submit" name="list" value="Add" />
</form>



{% for mentor in mentors %}
    <div>
        <p1>{{ mentor.name }}</p1>
        <p1>{{ mentor.city }}</p1>
        <p1>{{ mentor.name }}</p1>

    </div>
    <div>
        <a href="/mentor/{{ mentor.name }}">detail</a>
    </div>
{% endfor %}


<div class="container-center-horizontal">
    <div class="coolkats-homepagescreen">
      <div class="overlap-group2">
        <div class="overlap-group1">
          <img
            class="ellipse-25"
            src="ellipse-25.svg"
          />
          <img
            class="ellipse-26"
            src="ellipse-26.svg"
          />
          <div class="text-2">Book an appointment today to meet our world-class mentors.</div>
          <img
            class="component-37"
            src="component-37.png"
          />
          <img
            class="line-13"
            src="line-13.svg"
          />
          <div class="component-38">
            <div class="overlap-group">
              <div class="button-groupborder-1px-black">
                <img
                  class="separator"
                  src="separator.svg"
                />
              </div>
              <p class="text-3valign-text-middleinter-semi-bold-black-16px">
                What field are you looking for?
              </p>
              <p class="text-4valign-text-middleinter-semi-bold-black-16px">
                What type of help do you want?
              </p>
              <div class="motivationvalign-text-middleinter-semi-bold-black-16px-2">Motivation:</div>
              <div class="skillsetvalign-text-middleinter-semi-bold-black-16px-2">Skillset:</div>
              <div class="rectangle-33border-1px-black"></div>
              <div class="rectangle-25"></div>
              <div class="search">Search</div>
            </div>
          </div>
          <img
            class="womenintech-1"
            src="womenintech-1.png"
          />
        </div>
        <h1 class="text-1">Empowering female students with the support of passionate mentors.</h1>
      </div>
    </div>
  </div>