{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'coolkats_app/resources.css/' %}">
    <link rel="stylesheet" href="{% static 'coolkats_app/navbar.css/' %}">
    <style>
        .card-img-top {
            height: 150px;
            width: 250px;
        }

        .row {
            margin-bottom: 2rem;
        }
    </style>
</head>


<body>
    {% include 'coolkats_app/navbar.html' %}
    <div class="container">
        <div class="header">
            <h2>Resources</h2>
        </div>
        <div class="row">
            <h1>Online Courses</h1>
            <p>Organizations that offer tools and certifications for women.</p>
            <div class="bg">
                <div class="column">
                    <a href="https://girlsintech.org/">
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'coolkats_app/images/girlsintech.JPG' %}" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <p class="card-text">Girls in Tech</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="https://women-in-tech.org/">
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'coolkats_app/images/wit.JPG' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Women in Stem</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column">

                    <a href="https://devpost.com/hackathons?page=2">
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'coolkats_app/images/girlswhocode.png' %}" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <p class="card-text">Girls who code</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <h1>Events</h1>
            <p>Organizations hosting events this month for women.</p>
            <div class="bg">
                <div class="column">
                    <a href="https://www.eventbrite.com/e/women-in-stem-networking-event-tickets-149793724061">
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'coolkats_app/images/hackathon.JPG' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Hackathon</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column">

                    <a href="https://www.stemwomensummit.org/
                    ">
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'coolkats_app/images/network.JPG' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Networking Event</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="https://www.pathwaystoscience.org/discipline.aspx?sort=GEN-STEM_STEM
                    ">
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'coolkats_app/images/Capture222.JPG' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">STEM Conference</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <h1>Opportunities</h1>
            <p>Find internships, grants and job shadowing opportunities</p>
            <div class="bg">
                <div class="column">
                    <a href="https://www.pathwaystoscience.org/discipline.aspx?sort=GEN-STEM_STEM">
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'coolkats_app/images/internship.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Internships</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="https://www.unigo.com/scholarships/by-type/scholarships-for-women-in-science">
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'coolkats_app/images/grants.JPG' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Financial Aid</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="https://app.smartsheet.com/b/form/a26c9fd09f4546878a6ac8569265443a">
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'coolkats_app/images/Capture222.JPG' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Career Shadowing</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>